@import "mixins";

.fastest-finger-component{
    height: 100%;
    width: 100%;
    @include flex-container(center);
    background: rgba(0, 0, 0, 0.6);
    animation: fadein 0.4s ease-in, slide-down 0.4s;
    z-index: 10;
    .main-container{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .header{
            position: relative;
            background-color: #0041AA;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            @include flex-container (center);
            padding: 1rem;
            .text {
                font-family: MontserratSemiBold;
                font-size: 1.25rem;
                color: #FFFFFF;
            }
        }
        .content{
            background-color: #FFFFFF;
            padding: 1rem 2rem;
            text-align: center;
            .text{
                color: #434343;
                font-family: MontserratSemiBold;
                font-size: 1rem;

            }
            .button{
                background-color: #EDEBF0;
                border-radius: 100px;
                color: #010D91;
                font-family: MontserratExtraBold;
                font-size: 1.25rem;
                width: 100%;
                margin-top: 1rem;
                padding: 0.75rem 0;
            }
        }
    }

}