@import 'mixins';

.winners-component {
  .calendar {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0.5rem;
    .calendar-item {
      display: inline-block;
      &.active {
        .day {
          width: 3.6rem;
          height: 3.6rem;
          margin: 0 0.5rem;
          border: 1px solid rgba(82, 0, 178, 1);
          .date {
            font-size: 1.6rem;
            background: rgba(82, 0, 178, 1);
          }
          .month {
            font-size: 1.3rem;
            color: rgba(82, 0, 178, 1);
          }
        }
        .meridian {
          color: rgba(74, 74, 74, 1);
          font-family: MontserratSemiBold;
          font-size: .9rem;
        }
      }
    }
    .day {
      width: 2.88rem;
      height: 2.88rem;
      border-radius: 5px;
      border: 1px solid rgba(0, 122, 211, 1);
      margin: 0.25rem;
      flex: 0 0 auto;
      transition: all 0.3s ease;
      text-transform: uppercase;
      .date {
        @include flex-container(center);
        width: 100%;
        height: 55%;
        color: #fff;
        background: rgba(0, 122, 211, 1);
        font-family: MontserratExtraBold;
        font-size: 1.2rem;
      }
      .month {
        @include flex-container(center);
        width: 100%;
        height: 45%;
        color: rgba(0, 122, 211, 1);
        font-family: MontserratBold;
      }
    }
    .meridian {
      color: rgba(74, 74, 74, 1);
      font-family: MontserratSemiBold;
      font-size: .75rem;
    }
  }
  .winners {
    padding: 0 1rem 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 6rem;
    overflow-y: auto;
    .winner-card {
      @include flex-container(space-between);
      background: rgba(237, 235, 240, 1);
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: 0.7rem;
      animation: fadein 0.3s ease-in, slide-up 0.4s;
      &:last-child {
        margin-bottom: 0;
      }
      .left {
        @include flex-container(space-between);
        .avatar {
          margin-right: 1rem;
        }
        .user {
          .name {
            font-family: MontserratSemiBold;
            font-size: 0.95rem;
            color: rgba(74, 74, 74, 1);
            margin-bottom: -4px;
          }
          .win {
            background: #5200b2;
            font-family: MontserratBold;
            font-size: 0.6rem;
            text-transform: uppercase;
            color: #fff;
            border-radius: 100px;
            display: inline-flex;
            padding: 0.05rem 0.5rem;
          }
        }
      }
      .right {
        font-family: MontserratBold;
        color: rgba(74, 74, 74, 1);
      }
    }
  }
}
