<div class="footer-component">
  <div
    class="link"
    *ngFor="let nav of navLinks"
    [class.active]="activeNav.id === nav.id"
    (click)="navigateTo(nav)"
  >
    <div class="icon">
      <img src="assets/images/footer/{{ nav.icon }}" *ngIf="activeNav.id !== nav.id" />
      <img src="assets/images/footer/{{ nav.hoverIcon }}" *ngIf="activeNav.id === nav.id" />
    </div>
    <div class="prize-notf-icon" *ngIf="showPrizeWinNotificationIcon && nav.id === 2"></div>
    <div class="title">{{ nav.title }}</div>
  </div>
</div>
