<div class="show-watch-video-to-earn" *ngIf="ShowWatchVideoToEarnPopup">
  <div class="content full">
    <div class=" back" (click)="showWatchAndEarnOverlay(false)">
      <img src="assets/images/back.svg" alt="">
    </div>
    <div class="text">
      Play
    </div>
    <div class="img-container">
      <img src="assets/images/tambola.svg" alt="">
    </div>
    <div class="text">
      with friends
    </div>
    <div class="img-container">
      <img src="assets/images/down_arrow.svg" alt="">
    </div>
    <div class="text">
      earn coins
    </div>
    <div class="coins-img">
      <img src="assets/images/coins.png" alt="">
    </div>
    <div class="img-container">
      <img src="assets/images/down_arrow.svg" alt="">
    </div>
    <div class="text">
      Exchange coins for great Offers!
    </div>
    <div class="video-ad" (click)="playEarnCoin()">
      <div class="left">
        <div class="video-icon">
          <img src="assets/images/CoinVideo.png" alt="">
        </div>
        <div class="text">
          <div class="text1">
            Watch Video Ad
          </div>
          <div class="text2">
            to earn coins
          </div>
        </div>
      </div>
      <div class="video-banner">
        <img src="assets/images/arrow.svg" alt="">
      </div>
    </div>
  </div>
</div>
